<div id="header" class="section">
    <img src="{{cvs[selected].person.photo}}" alt="{{cvs[selected].person.name}}" />
    <div>
        <ul>
            <li><h1>{{cvs[selected].person.name}}</h1></li>
            <li>{{cvs[selected].person.contact.address.street}}, {{cvs[selected].person.contact.address.zipCode}} {{cvs[selected].person.contact.address.city}}, {{cvs[selected].person.contact.address.country}}</li>
            <li>@ : {{cvs[selected].person.contact.email}}</li>
            <li>Tel : {{cvs[selected].person.contact.phone}}</li>
        </ul>
    </div>
</div>