

nav {
    float:left;
    background-color : #eeeeee;
    width:auto;
    height:100%;
    margin-left:5px;
    margin-right:5px;
    font-size:15px;
}

nav ul {
    padding:0px;
}

nav p {
    font-size:11px;
    margin:0px;
    text-align:right;
}

nav span {
    display:inline-block;
    margin:0px;
}

.name_title {
    float:right;
}


input[type="search"] {
    border:none;
    max-width:95%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position:center;
}

.cv_item {
    display: block;
    text-decoration: none;
    display: block;
    padding-bottom: 11px;
    padding-top:11px;
    padding-left:10px;
    padding-right:10px;

    border-top : 1px solid #ccc;
}

nav li:hover{
    background-color:white;
    border-top-color:#34495e;
    -moz-transition: background-color;
    -moz-transition: 0.3s;
    -webkit-transition: background-color;
    -webkit-transition: 0.3s;
    -ms-transition: background-color;
    -ms-transition: 0.3s;
    cursor:pointer;
}

body {
	font-family : arial, 'Trebuchet MS';
	margin:auto auto;	
    color: #34495e;
	background-color : #eeeeee;
}

li {
	list-style:none;
}

#header{
    margin-top:2.5%;
}

#wrapper {
	width:auto;
	background : white;
	border-radius: 10px 60px;
    overflow:auto;
    max-height:100%;
    position:relative;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

#title {
	text-align : center;
}

#header{
   text-align: center;
}

.section h3,
#header h1 {
	border-bottom: 1px solid #bdc3c7;
	cursor: pointer;
}

nav img{
    display : inline-block;
    width:30px;
    height:30px;
    border-radius:50%;
}

#header img {
	display: inline-block;
	width : 120px;
	height : 120px;
	border-radius : 50%;
	
}

#header div {
		display: inline-block;
}

.date {
	margin: 20px;
	display : inline-block;
	font-style: italic;
	width: 180px;
}

.detail {
	vertical-align: top;
	display : inline-block;
}
