<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Visualiser les CV</title>
    <link rel="stylesheet" href="app/views/css/my-resume.css">
    <script type='text/javascript' src='app/views/js/vendors/jquery-1.12.3.min.js'></script>
    <script type='text/javascript' src='app/views/js/my-resume.js'></script>
</head>
<body>
    <nav>
        <h4>Liste des CV :</h4>
        <div id="rechercheCV">
            <input type="search" placeholder="Rechercher..." ng-model="searchval" ng-change="search(this)" />
        </div>
        <ul>
            <cvtab></cvtab>
        </ul>
    </nav>
    <div id="wrapper">

        <cvhead></cvhead>
        <h1 id="title">{{cvs[selected].resume.title}}</h1>
        <div id="xp" class="section">
            <h3><span>+</span> Expériences professionnelles</h3>
            <div class='section-wrapper'>
                <!-- HERE -->
                <xp ng-repeat="exp in cvs[selected].resume.experiences"></xp>
            </div>
        </div>
        <div id="form" class="section">
            <h3><span>+</span> Formations</h3>
            <div class='section-wrapper'>
                <xp ng-repeat="exp in cvs[selected].resume.educations"></xp>
            </div>
        </div>
        <div id="hobbit" class="section">
            <h3><span>+</span> Loisirs</h3>
            <div class='section-wrapper'>
                <div ng-repeat="hob in cvs[selected].resume.hobbies" class="info">
                    <ul>
                        <other ng-repeat="cntt in hob.content"></other>
                    </ul>
                </div>
            </div>
        </div>

        <div id="competencies" class="section">
            <h3><span>+</span> Compétences</h3>
            <div class="section-wrapper">
                <div ng-repeat="comp in cvs[selected].resume.competencies">
                    <ul>
                        <other ng-repeat="cntt in comp.content"></other>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
</body>
</html>